.box {
  @extend %flexStart;
  align-items: flex-start;
  width: 100%;
  &._directionColumn {
    flex-direction: column;
  }
  &._wrap {
    flex-wrap: wrap;
  }
  &:after {
    content: '';
    flex-grow: 1;
  }
  .box-item {
    position: relative;
    @include adaptive(padding-left, 10, 10);
    @include adaptive(padding-right, 10, 10);
    @include adaptive(margin-bottom, 20, 15);
    transition: all 0.35s ease;
    .box-item-inner {
      @extend %flexCenter;
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      overflow: hidden;
      background: linear-gradient(261.75deg, #2E27EB 39.98%, #080541 142.5%);
    }
    .box-item-content,
    .box-item-info {
      @extend %flexCenter;
      @extend %absDefault;
      width: 100%;
      height: 100%;
    }
    .box-item-inner > img, .box-item-image {
      display: none;
      @extend %centerXY;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform .5s ease;
    }
    > img {
      width: 100%;
      height: auto;
    }
    .box-item-content {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      @include adaptive(padding, 44, 26);
    }
    .box-item-info {
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      @include adaptive(padding, 32, 20);
      .box-item-info-text {
        @extend %flexSpaceBetween;
        flex-wrap: wrap;
        width: 100%;
        &:after {
          content: '';
          flex-grow: 1;
        }
        p {
          margin-bottom: 0;
          @include adaptive(margin-top, 14, 14);
        }
      }
    }
    .box-item-date {
      display: block;
      font-family: $RalewayRegular;
      line-height: 110%;
      @include adaptive(font-size, 12, 12);
      @include adaptive(margin-bottom, 20, 20);
      color: #fff;
    }
    .popup-content, .popup-content-inner {
      display: none;
    }
    &._center-content {
      .box-item-content {
        justify-content: center;
        align-items: center;
        img {
          height: auto;
          width: 100%;
          margin-right: 7%;
        }
      }
      .box-item-info {
        justify-content: center;
        align-items: center;
        .box-item-info-text {
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 0 8%;
          text-align: center;
        }
      }
    }
    &._row {
      .box-item-content {
        width: 100% !important;
        flex-direction: row;
      }
    }
    &._image {
      .box-item-inner {
        background: none;
      }
      .box-item-image {
        display: block;
      }
    }
    &._image-size-contain {
      .box-item-image {
        background-size: contain;
      }
    }
    &._no-back {
      .box-item-inner {
        background: none;
      }
      .box-item-content,
      .box-item-info {
        padding: 0 !important;
      }
      @media screen and (max-width: $mobileWidth + px) {
        height: auto !important;
        .box-item-content,
        .box-item-info {
          position: static;
        }
        //.box-item-info {
        //  padding-right: 0 !important;
        //  padding-left: 0 !important;
        //}
      }
    }
    &._border {
      .box-item-inner {
        background: none;
        border: 1px solid $color01;
      }
    }
    &._glow {
      filter: drop-shadow(0 0 20px rgba(46, 39, 235, 0.5));
      transition: filter .25s ease;
    }
    &._round-corners {
      .box-item-inner {
        @include adaptive(border-radius, 60, 60);
      }
    }
    &._darken {
      .box-item-image:after {
        content: '';
        display: block;
        @extend %absDefault;
        background: #000;
        opacity: 0.35;
      }
    }
    &._empty {
      margin: 0;
    }
    &._box-in-box-item {
      padding: 0;
      margin-bottom: 0;
      @include adaptive(margin-top, 20, 15);
      display: flex;
      align-items: flex-end;
      @media screen and (max-width: $mobileWidth + px) {
        height: auto !important;
      }
    }
    &._width10 {
      width: 10%;
    }
    &._width16 {
      width: 16.666%;
    }
    &._width20 {
      width: 20%;
    }
    &._width25 {
      width: 25%;
      > .box-item-inner .box-item-info-title {
        width: 90%;
      }
    }
    &._width30 {
      width: 30%;
    }
    &._width33 {
      width: 33.333%;
      > .box-item-inner .box-item-content {
        width: 80%;
      }
      > .box-item-inner .box-item-info-title {
        width: 80%;
      }
      > .box-item-inner .box-item-info-text p {
        width: 60%;
      }
    }
    &._width40 {
      width: 40%;
    }
    &._width44 {
      width: 44%;
    }
    &._width50 {
      width: 50%;
      > .box-item-inner .box-item-content {
        width: 50%;
      }
      > .box-item-inner .box-item-info-title {
        width: 80%;
      }
      > .box-item-inner .box-item-info-text p {
        width: 44%;
      }
    }
    &._width56 {
      width: 56%;
    }
    &._width60 {
      width: 60%;
    }
    &._width70 {
      width: 70%;
    }
    &._width75 {
      width: 75%;
      > .box-item-inner .box-item-content {
        width: 50%;
      }
      > .box-item-inner .box-item-info-title {
        width: 70%;
      }
      > .box-item-inner .box-item-info-text p {
        width: 30%;
      }
    }
    &._width80 {
      width: 80%;
    }
    &._width100 {
      width: 100%;
      > .box-item-inner .box-item-content {
        width: 40%;
      }
      > .box-item-inner .box-item-info-title {
        width: 50%;
      }
      > .box-item-inner .box-item-info-text p {
        width: 22%;
      }
    }
    &._info-text-overlapping {
      > .box-item-inner {
        overflow: visible;
        .box-item-info {
          @include adaptiveStrict(padding-bottom, 60, 0);
        }
        .box-item-info-text {
          width: 140%;
          @media screen and (max-width: $mobileWidth + px) {
            width: 100%;
          }
          &:after {
            display: none;
          }
          p {
            width: 43%;
            @media screen and (max-width: $mobileWidth + px) {
              width: 100%;
            }
          }
        }
      }
    }
    @media screen and (max-width: $mobileWidth + px) {
      &:last-child {
        margin-bottom: 0 !important;
      }
      &._width16 {
        width: 33.333% !important;
      }
      &._width10,
      &._width20,
      &._width25,
      &._width30,
      &._width33,
      &._width40,
      &._width44,
      &._width50,
      &._width56,
      &._width60,
      &._width70,
      &._width75,
      &._width80,
      &._width100 {
        width: 100% !important;
        .box-item-content {
          width: 80% !important;
        }
        .box-item-info-title {
          width: 80% !important;
        }
        .box-item-info-text p {
          width: 100% !important;
        }
      }
    }
  }
  a.box-item {
    &._width20,
    &._width25 {
      //&:hover {
      //  img, .box-item-image {
      //    transform: translate(-50%, -50%) scale(1.1);
      //  }
      //}
      &:hover {
        transform: scale(1.03);
      }
    }
    &._width30,
    &._width33 {
      &:hover {
        transform: scale(1.03);
      }
    }
    &._width40,
    &._width50,
    &._width60 {
      //&:hover {
      //  img, .box-item-image {
      //    transform: translate(-50%, -50%) scale(1.07);
      //  }
      //}
      &:hover {
        transform: scale(1.02);
      }
    }
    &._width70,
    &._width75,
    &._width80 {
      //&:hover {
      //  img, .box-item-image {
      //    transform: translate(-50%, -50%) scale(1.06);
      //    @media screen and (max-width: $mobileWidth + px) {
      //      transform: translate(-50%, -50%) scale(1.07);
      //    }
      //  }
      //}
      &:hover {
        transform: scale(1.01);
      }
    }
    &._width100 {
      //&:hover {
      //  img, .box-item-image {
      //    transform: translate(-50%, -50%) scale(1.05);
      //    @media screen and (max-width: $mobileWidth + px) {
      //      transform: translate(-50%, -50%) scale(1.07);
      //    }
      //  }
      //}
      &:hover {
        transform: scale(1.01);
      }
    }
  }
}

.box._page-info {
  .box-item {
    display: flex;
    flex-direction: column;
    &:last-child {
      align-self: flex-end;
      align-items: end;
      @media screen and (max-width: $mobileWidth + px) {
        justify-content: center;
        align-self: center;
        align-items: center;
      }
    }
  }
}

.box {
  a.box-item {
    &._glow:hover {
      filter: drop-shadow(0 0 20px rgba(46, 39, 235, 1));
    }
    &:active {
      transform: scale(0.98) !important;
    }
  }
}

body {
  &.black {
    .header-background {
      background: #000;
    }
    .box {
      .box-item {
        &._glow {
          .box-item-inner {
            background: #000;
          }
        }
      }
    }
  }
  &.white {
    .header-background {
      background: #F6F6FF;
    }
    .box {
      .box-item {
        &._glow {
          .box-item-inner {
            background: #F6F6FF;
          }
        }
      }
    }
  }
}