.button {
  position: relative;
  @extend %flexCenter;
  @include adaptive(font-size, 24, 24);
  @include adaptive(border-radius, 60, 60);
  font-family: $RalewayMedium;
  text-align: center;
  text-decoration: none;
  transition: transform .25s ease;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
  user-select: none;
  span {
    position: relative;
    z-index: 10;
  }
  &:before {
    content: '';
    @extend %absDefault;
    @include adaptive(border-radius, 60, 60);
    opacity: 0;
    transition: all 1s ease;
    z-index: 1;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
  &:active {
    transform: scale(0.98) !important;
  }
  &._type-1, &._type-3._active {
    background: linear-gradient(180deg, #2E27EB 0%, #3631B2 100%);
    color: #fff;
    &:before {
      background: linear-gradient(180deg, #3631B2 0%, #2E27EB 100%);
    }
  }
  &._type-2 {
    color: #2B333A;
    border: 1px solid $color01;
    @include adaptive(margin-right, 40, 20);
    @include adaptive(margin-top, 20, 20);
    &._active {
      background: linear-gradient(260.37deg, #FFB7DE 2.77%, rgba(74, 69, 149, 0) 119.07%), #0CBDFF;
      color: #fff;
      //outline-color: transparent;
      border: none;
      &:before {
        background: linear-gradient(260.37deg, rgba(74, 69, 149, 0) 2.77%, #FFB7DE 97.63%), #0CBDFF;
      }
    }
  }
  &._type-3 {
    color: #fff;
    border: 1px solid $color01;
    &._active {
      border: none;
    }
  }
  &._square {
    border-radius: 0 !important;
    &:before {
      border-radius: 0 !important;
    }
  }
  &._size-1 {
    @include adaptive(width, 290, 290);
    @include adaptive(height, 50, 50);
  }
  &._size-2 {
    width: 100%;
    @include adaptive(max-width, 540, 440);
    @include adaptive(height, 84, 64);
  }
  &._size-3 {
    @include adaptive(padding-top, 20, 10);
    @include adaptive(padding-right, 60, 30);
    @include adaptive(padding-bottom, 20, 10);
    @include adaptive(padding-left, 60, 30);
  }
  &._size-4 {
    @include adaptive(margin-top, 70, 40);
    @include adaptive(width, 600, 600);
    @include adaptive(height, 72, 72);
    max-width: 100%;
  }
  &._size-5 {
    width: calc(25% - 40px);
    @include adaptive(height, 84, 64);
    @media screen and (max-width: $mobileWidth + px) {
      width: 100%;
    }
  }
  &._size-6 {
    @include adaptive(margin-top, 60, 30);
    @include adaptive(width, 312, 260);
    @include adaptive(height, 84, 64,);
  }
  &._width50 {
    width: 50%;
    @include adaptive(height, 112, 112);
    @include adaptive(padding-right, 60, 30);
    @include adaptive(padding-left, 60, 30);
    @media screen and (max-width: $mobileWidth + px) {
      width: 100%;
    }
  }
  &._width25 {
    width: 25%;
    @include adaptive(height, 112, 112);
    @include adaptive(padding-right, 60, 30);
    @include adaptive(padding-left, 60, 30);
    @media screen and (max-width: $mobileWidth + px) {
      width: 100%;
    }
  }
  &._align-center {
    margin-right: auto;
    margin-left: auto;
  }
}

.button-arrow {
  $hoverDuration: 0.5;
  @extend %flexCenter;
  position: relative;
  text-decoration: none;
  transition: transform .25s ease, box-shadow $hoverDuration + s ease, border-color $hoverDuration + s ease;
  flex-shrink: 0;
  //&:after {
  //  content: '';
  //  width: 100%;
  //  height: 100%;
  //}
  //&._type-1 {
  //  background: url('../img/arrow-1_white_medium.svg') center /100% auto no-repeat;
  //}
  &._type-3 {
    background: url('../img/arrow-2_white_medium.svg') center /100% auto no-repeat;
    @media screen and (max-width: $mobileWidth + px) {
      background: url('../img/arrow-2_white_small.svg') center /100% auto no-repeat;
    }
  }




  //transform: translate(-50%, -100%) rotate(-45deg);
  .button-arrow-part {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    &:before, &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      background: #fff;
      pointer-events: none;
      transition: background-color $hoverDuration + s ease-in-out;
    }
    &:first-child {
      &:after {
        transform: rotate(90deg);
        transform-origin: calc(100% - 1px) 1px;
      }
    }
    &:last-child {
      &:before {
        transform-origin: 100% calc(50% - 2px);
        transform: rotate(45deg);
      }
      &:after {
        display: none;
      }
    }
  }

  &._type-1 {
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: inset 0 0 0 #2E27EB;
    .button-arrow-part {
      transform: translate(-50%, -50%) rotate(-45deg);
      &:before, &:after {
        width: 28%;
        height: 2px;
      }
      &:last-child {
        &:before {
          width: 46%;
          height: 2px;
        }
      }
    }
    &:hover {
      @include adaptiveBoxShadow(300, 300, #2E27EB);
      //box-shadow: inset 0 0 300px #2E27EB;
      border-color: transparent;
    }
  }


  &._type-2 {
    .button-arrow-part {
      //transform: translate(-5%, -25%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg);
      transform-origin: 90% -25%;
      &:before, &:after {
        width: 43%;
        height: 2px;
      }
      &:last-child {
        &:before {
          width: 100%;
          height: 2px;
        }
      }
    }


    &:hover {
      .button-arrow-part {
        &:before, &:after {
          background-color: #9F9F9F;
        }
      }
    }
  }






  &._size-1 {
    @include adaptive(width, 100, 64);
    @include adaptive(height, 100, 64);
  }
  &._size-2 {
    @include adaptive(width, 64, 52);
    @include adaptive(height, 56, 40);
  }
  &._size-3 {
    @include adaptive(width, 108, 66);
    @include adaptive(height, 66, 40);
  }
  &._size-4 {
    @include adaptive(width, 290, 140);
    @include adaptive(height, 290, 140);
  }
  //&._border {
  //  background: url('../img/arrow-1_white_border_medium.svg') center /100% auto no-repeat;
  //  //@media screen and (max-width: $mobileWidth + px) {
  //  //  background: url('../../img/arrow-1_white_border_small.svg') center /100% auto no-repeat;
  //  //}
  //}
  &:active {
    transform: scale(0.98) !important;
  }
  &:hover {
    animation: arrowRotate $hoverDuration + s linear forwards;
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  @include adaptive(width, 54, 44);
  @include adaptive(height, 54, 44);
  @include adaptive(margin-top, 38, 12);
  @include adaptive(margin-right, 38, 12);
  cursor: pointer;
  transition: all 0.25s ease;
  z-index: 100;
  &:before, &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $color01;
    width: 100%;
    @include adaptive(height, 4, 4);
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:active {
    transform: scale(0.95) !important;
  }
}

.menu-button {
  $width: 54;
  $height: 22;
  $padding: calc(($width - $height) / 2);
  position: relative;
  @include adaptive(width, $width, $width);
  @include adaptive(height, $width, $width);
  @include adaptive(padding-top, $padding, $padding);
  @include adaptive(padding-bottom, $padding, $padding);
  cursor: pointer;
  transition: all 0.25s ease;
  transform-origin: center;
  z-index: 89;
  .menu-button-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: inherit;
  }
  .menu-button-part, .menu-button-inner:before, .menu-button-inner:after {
    position: absolute;
    right: 0;
    transition: inherit;
    transform-origin: inherit;
    background-color: $color01;
    width: 100%;
    @include adaptive(height, 4, 4);
  }
  .menu-button-part {
    &._top {
      top: 0;
      width: 74.1%;
    }
    &._bot {
      bottom: 0;
      width: 81.49%;
    }
  }
  .menu-button-inner:before, .menu-button-inner:after {
    content: '';
    top: 50%;
    transform: translateY(-50%);
  }
  &:hover {
    .menu-button-part {
      &._top {
        top: 0;
        width: 81.49%;
      }
      &._bot {
        bottom: 0;
        width: 74.1%;
      }
    }
  }
  &._menu-open {
    .menu-button-inner {
      transform: rotate(45deg);
      .menu-button-part {
        background-color: transparent;
      }
      &:after {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }
}