.popup-content, .modal-content {
  position: fixed;
  @extend %centerXY;
  //@include adaptive(height, 752, 752);
  min-height: 20vh;
  max-height: 100vh;
  z-index: 2050;
  animation: opacity0to1 0.5s ease forwards, scale05to1 0.5s ease forwards;
  @media screen and (max-width: $mobileWidth + px) {
    width: 100vw !important;
    height: 100vh !important;
    //top: 0;
    //left: 0;
    //animation: opacity0to1 0.5s ease forwards, scale05to1 0.5s ease forwards;
  }
}

.modal-content {
  background: #fff;
  @include adaptive(width, 680, 680);
  @include adaptive(border-radius, 30, 15);
  @include adaptive(padding, 90, 20);
}

.popup-content {
  @include adaptive(width, 1480, 1480);
  @include adaptive(padding-top, 38, 18);
  @include adaptive(padding-bottom, 38, 18);
  @include adaptive(padding-left, 28, 10);
  @include adaptive(padding-right, 28, 10);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .popup-content-inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
  }
  .popup-content-title, p, span, a, ul, li {
    color: #2B333A !important;
  }
  .popup-content-title {
    @include adaptive(margin-bottom, 20, 20);
    width: 60%;
    @media screen and (max-width: $mobileWidth + px) {
      width: 90%;
    }
  }
  p {
    display: flex;
    flex-direction: column;
  }
  .box .box-item > .project-logo {
    @include adaptive(height, 70, 70);
    @include adaptive(margin-bottom, 40, 40);
    width: auto;
  }
  &._news {
    @include adaptive(width, 1840, 1840);
    .popup-content-title {
      @include adaptive(margin-bottom, 200, 20);
    }
    .close-button {
      &:before, &:after {
        background-color: #fff;
      }
    }
  }
  &._darken:before {
    content: '';
    display: block;
    @extend %absDefault;
    background: #000;
    opacity: 0.5;
  }
}

body {
  &.black {
    .popup-content {
      background: #fff;
      @include adaptive(border-radius, 60, 30);
      p, ul, li {
        @include adaptive(font-size, 18, 18);
      }
    }
  }
  &.white {
    .popup-content {
      .popup-content-title, p, span, a, ul, li {
        color: #fff !important;
      }
    }
  }
}