.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  z-index: 1;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: hand;
  }
}

.slick-slider {
  .slick-track, .slick-list {
    transform: translate3d(0, 0, 0);
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &:before {
    display: table;
    content: '';
  }
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}






//.slick-dots {
//  position: absolute;
//  bottom: 0;
//  margin: 0;
//  padding: 0;
//  list-style: none;
//  @extend %flexCenter;
//  width: 100%;
//  li {
//    @extend %flexCenter;
//    //width: 26px;
//    //height: 26px;
//    position: relative;
//    border: vwpx(3) solid #4FAC25;
//    box-sizing: border-box;
//    border-radius: 50%;
//    margin: 0 5px;
//    cursor: pointer;
//    button {
//      position: absolute;
//      top: 50%;
//      left: 50%;
//      transform: translate(-50%, -50%);
//      width: 54%;
//      height: 0;
//      padding: 0 0 54% 0;
//      border: 0;
//      border-radius: 50%;
//      color: transparent;
//      background: 0;
//      outline: 0;
//      cursor: pointer;
//      font-size: 0;
//      line-height: 0;
//    }
//    &.slick-active {
//      button {
//        background: #4FAC25;
//      }
//    }
//  }
//}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide {
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }
  &.dragging img {
    pointer-events: none;
  }
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider,
.slide {
  outline: none;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slick-list,
.slick-track {
  height: 100%;
}

.slick-arrow {
  position: absolute;
  //top: 50%;
  //transform: translate(0, -50%);
  //width: 2.9%;
  //padding: 0 0 10.4% 0;
  bottom: 0;
  padding: 0;
  line-height: 0;
  background: transparent;
  @include adaptive(height, 97, 56);
  @include adaptive(width, 97, 56);
  border: 0;
  outline: none;
  cursor: pointer;
  z-index: 100;
  transition: transform .2s ease;
  @media screen and (max-width: $mobileWidth + px) {
    bottom: -26%;
  }
  &:active {
    transform: scale(0.98) !important;
  }
  i, span, img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
  }
  &.slick-disabled {
    //background: gray;
    //border-color: gray !important;
    cursor: default;
    filter: grayscale(1);
    pointer-events: none;
  }
  &.pull-left {
    left: 0;
    @media screen and (max-width: $mobileWidth + px) {
      left: 20%;
    }
    img {
      transform: scaleX(-1) translate(50%, -50%);
    }
  }
  &.pull-right {
    right: 0;
    @media screen and (max-width: $mobileWidth + px) {
      right: 20%;
    }
    img {
      transform: translate(-50%, -50%);
    }
  }
}