footer.footer
    .decor._top._left
        .decor-part
        .decor-part
        .decor-part
        .decor-part
    .box._directionColumn._wrap
        .box-item._width50
            a.logo(href='index.html')
            .langs
                a.lang._current(href='#') RU
                span.separator._vertical
                a.lang(href='#') EN
        .box-item._width50
            a.button._type-1._size-1(href='#')
                span Служба поддержки
            .mail-links
                .mail-link
                    span._font-number По вопросам pr:
                    a(href='mailto:pr@cesca.ru')._font-number pr@cesca.ru
                .mail-link
                    span._font-number По вопросам партнерства:
                    a(href='mailto:invest@cesca.ru')._font-number invest@cesca.ru
            .copyright
                span._font-number 2022г. by CESCA
        .box-item._width50
            .box._wrap._menu-links
                .box-item._width33
                    a.links-title(href='directions.html') Направления
                    a.link(href='#') Инфраструктурные решения
                    a.link(href='#') Строительство
                    a.link(href='#') Интеграция, управление и безопасность
                    a.link(href='#') Прикладные и бизнес-решения
                    a.link(href='#') Комплексные аппаратные решения
                    a.link(href='#') ИТ&#8209;услуги
                .box-item._width33
                    a.links-title(href='vacancies.html') вакансии
                .box-item._width33
                    a.links-title(href='products.html') Продукты
                    a.link(href='product.html') Система мониторинга климатических условий серверной стойки и управления доступом AURA
                    a.link(href='product.html') CELERI – комплекс управления группой дронов
                .box-item._width33
                    a.links-title(href='projects.html') Проекты
                    a.link(href='#')
                        .link-image(style='background-image: url(./img/bitrix_logo.svg)')
                        .link-image(style='background-image: url(./img/bitrix_logo.svg)')
                .box-item._width33
                    a.links-title(href='news.html') Новости
                .box-item._width33
                    a.links-title(href='contacts.html') контакты
script(src="libs/jquery.min.js")
script(src="libs/slick.min.js")
script(src="libs/gsap.min.js")
script(src="js/script.js")
