header.header
    .header-background
    .header-main
        .header-main-left
            a.logo(href='index.html')
        .header-main-middle
            a.button._type-1._size-1(href='#')
                span Служба поддержки
            .header-contact-links
                a(href='tel:+74951503845')._font-number +7 (495) 150-38-45
                a(href='mailto:hello@cesca.ru')._font-number hello@cesca.ru
        .header-main-right
            .langs
                a.lang._current(href='#') RU
                span.separator._vertical
                a.lang(href='#') EN
            .menu-button
                .menu-button-inner
                    .menu-button-part._top
                    .menu-button-part._bot
    .header-menu
        .header-menu-inner
            nav.header-menu-items
                .header-menu-item
                    a(href='directions.html').header-menu-link._has-submenu
                        span Направления
                        span.header-submenu-arrow
                    .submenu
                        .submenu-links
                            a(href='directions.html').submenu-link ИКТ и инженерная инфраструктура
                            a(href='directions.html').submenu-link Разработка программного обеспечения
                            a(href='directions.html').submenu-link Интеграция, управление и безопасность
                            a(href='directions.html').submenu-link Поставка IT и телеком оборудования
                            a(href='directions.html').submenu-link Прикладные и бизнес-решения
                            a(href='directions.html').submenu-link Разработка высокотехнологичного адаптивного оборудования
                        a.button._type-3(href='directions.html')
                            span Смотреть все направления
                .header-menu-item
                    a(href='#').header-menu-link._has-submenu
                        span Разработки
                        span.header-submenu-arrow
                    .submenu
                        .submenu-links
                            a(href='#').submenu-link Разработка и инженерная инфраструктура
                            a(href='#').submenu-link Разработка программного обеспечения
                            a(href='#').submenu-link Разработка, управление и безопасность
                            a(href='#').submenu-link Разработка IT и телеком оборудования
                        a.button._type-3(href='#')
                            span Смотреть все разработки
                .header-menu-item
                    a(href='products.html').header-menu-link._has-submenu
                        span Продукты
                        span.header-submenu-arrow
                    .submenu
                        .submenu-links
                            a(href='product.html').submenu-link Система мониторинга климатических условий серверной стойки и управления доступом AURA
                            a(href='product.html').submenu-link CELERI – комплекс управления группой дронов
                        a.button._type-3(href='products.html')
                            span Смотреть все продукты
                .header-menu-item
                    a(href='projects.html').header-menu-link
                        span проекты
                        span.header-submenu-arrow
                .header-menu-item
                    a(href='news.html').header-menu-link
                        span Новости
                        span.header-submenu-arrow
                .header-menu-item
                    a(href='vacancies.html').header-menu-link
                        span вакансии
                        span.header-submenu-arrow
                .header-menu-item
                    a(href='contacts.html').header-menu-link
                        span контакты
                        span.header-submenu-arrow
            .submenus-desktop