header.header
    .header-background
    .header-main
        .header-main-left
            a.logo(href='/')
        .header-main-middle
            a.button._type-1._size-1(href='#')
                span Служба поддержки
            .header-main-links
                a(href='tel:+74951503845') +7 (495) 150-38-45
                a(href='mailto:hello@cesca.ru') hello@cesca.ru
        .header-main-right
            .langs
                a.lang._current(href='#') RU
                span.separator._vertical
                a.lang(href='#') EN
            .menu-button
                .menu-button-top
                .menu-button-bot
    .header-menu
        .header-menu-left
            nav.header-menu-links
                span.header-menu-link._submenu Направления
                span.header-menu-link._submenu Разработки
                a(href='products.html').header-menu-link Продукты
                a(href='projects.html').header-menu-link проекты
                a(href='news.html').header-menu-link Новости
                a(href='#').header-menu-link вакансии
                a(href='#').header-menu-link контакты
            span.separator._vertical
        .header-menu-right
            nav.header-menu-submenu
                span.header-menu-link-wrap
                    a(href='#').header-menu-link ИКТ и инженерная инфраструктура
                span.header-menu-link-wrap
                    a(href='#').header-menu-link Разработка программного обеспечения
                span.header-menu-link-wrap
                    a(href='#').header-menu-link Интеграция, управление и безопасность
                span.header-menu-link-wrap
                    a(href='#').header-menu-link Поставка IT и телеком оборудования
                span.header-menu-link-wrap
                    a(href='#').header-menu-link Прикладные и бизнес-решения
                span.header-menu-link-wrap
                    a(href='#').header-menu-link Разработка высокотехнологичного адаптивного оборудования
            nav.header-menu-submenu
                span.header-menu-link-wrap
                    a(href='#').header-menu-link Разработка 1
                span.header-menu-link-wrap
                    a(href='#').header-menu-link Разработка 2
                span.header-menu-link-wrap
                    a(href='#').header-menu-link Разработка 3
                span.header-menu-link-wrap
                    a(href='#').header-menu-link Разработка 4
                span.header-menu-link-wrap
                    a(href='#').header-menu-link Разработка 5
                span.header-menu-link-wrap
                    a(href='#').header-menu-link Разработка 6