//$maxWidth: 3840;

$defaultWidth: 1920;

$mobileWidth: 480;
//$mobileWidth: 768;

$RalewayRegular: 'Raleway-Regular', Arial, sans-serif;
$RalewayMedium: 'Raleway-Medium', Arial, sans-serif;

$color01: #2E27EB;