$maxWidth: 3840;

$defaultWidth: 1920;

$mobileWidth: 480;
//$mobileWidth: 768;

$RalewayRegular: 'Raleway-Regular', Arial, sans-serif;
$RalewayMedium: 'Raleway-Medium', Arial, sans-serif;

$color01: #2E27EB;









$font01Thin: 'MuseoSansCyrl', serif;
$font01Default: 'MuseoSansCyrl-300', serif;
$font01: 'MuseoSansCyrl-500', serif;
$font01Bold: 'MuseoSansCyrl-900', serif;

//$color01: #5CA73D;
$color02: #8D2C00;

$color01-2: #00AE4D;
$color03: #5E2B16;