@import "./variables";
@import "./mixins.scss";
@import "./main/animations";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  //overflow-y: scroll;
  //touch-action: manipulation;
  &::-webkit-scrollbar {
    display: none;
  }
}

input:focus::placeholder {
  opacity: 0;
  transition: opacity 1s ease;
}

article {
  position: relative;
  width: 100%;
  z-index: 9;
}

section {
  position: relative;
  width: 100%;
  @extend %defaultPaddings;
  z-index: 2;
  &._with-box {
    @extend %alternatePaddings;
  }
  > h1, > h2, > h3, > h4 {
    @include adaptive(padding-left, 10, 10);
    @include adaptive(padding-right, 10, 10);
  }
}

h1, h2, h3, h4 {
  font-family: $RalewayMedium;
  color: #fff;
  //line-height: 100%;
  //text-transform: uppercase;
  //font-weight: 100;
  margin: 0;
  //letter-spacing: 0.01em;
}

h1 {
  @include adaptive(font-size, 122, 54);
  line-height: 105%;
}

//h2 {
//  @include aFontSize(59);
//  @media screen and (max-width: $mobileWidth + px) {
//    @include aFontSize(52);
//  }
//}

h3 {
  @include adaptive(font-size, 58, 36);
  line-height: 118%;
}

h4 {
  @include adaptive(font-size, 47, 32);
  line-height: 118%;
}

//h4 {
//  @include aFontSize(27);
//}
//
//h5 {
//  @include aFontSize(18);
//}

p {
  font-family: $RalewayRegular;
  color: #fff;
  margin: 0;
  line-height: 130%;
  @include adaptive(font-size, 22, 22);
  @include adaptive(margin-bottom, 14, 14);
  &._p1 {
    @include adaptive(font-size, 32, 24);
  }
  //letter-spacing: 0.01em;
  //a {
  //  color: $color02;
  //}
}

//a {
//  @include aFontSize(19);
//  font-family: $font01;
//  letter-spacing: 0.01em;
//  text-decoration: none;
//  color: #fff;
//  text-align: center;
//}

//img {
//  height: auto;
//}

@import "fonts";
@import "main/buttons";
@import "main/box";
@import "main/header";
@import "main/footer";

.logo {
  display: block;
  @include adaptive(width, 165, 165);
  @include adaptive(height, 35, 35);
}

.langs {
  @extend %flexCenter;
  .separator {
    &._vertical {
      @include adaptive(height, 34, 34);
      @include adaptive(margin-right, 18, 18);
      @include adaptive(margin-left, 18, 18);
      width: 2px;
    }
  }
}

.lang {
  @include adaptive(font-size, 22, 22);
  font-family: $RalewayRegular;
  color: $color01;
  &._current {
    color: #fff;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
  }
}

.decor {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 1;
  @include adaptive(width, 878, 878);
  @include adaptive(height, 878, 878);
  background: $color01;
  filter: blur(650px);
  opacity: 0.8;
  //width: 1780px;
  //height: 1780px;
  //
  //background: radial-gradient(37.41% 37.41% at 50% 50%, #2E27EB 21.25%, rgba(46, 39, 235, 0) 100%);
}

.separator {
  display: inline-block;
  position: relative;
  //&._vertical {
  //  @include adaptive(height, 34, 34);
  //  @include adaptive(margin-right, 18, 18);
  //  @include adaptive(margin-left, 18, 18);
  //  width: 2px;
  //}
  z-index: 2;
  &._horizontal {
    height: 1px;
    width: 100%;
    @extend %defaultPaddings;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
    }
    &._large {
      @include adaptive(margin-top, 90, 45);
      @include adaptive(margin-bottom, 90, 45);
    }
    &._medium {
      @include adaptive(margin-top, 60, 30);
      @include adaptive(margin-bottom, 60, 30);
    }
    &._small{
      @include adaptive(margin-top, 30, 15);
      @include adaptive(margin-bottom, 30, 15);
    }
  }
  &._transparent {
    &:before {
      background: transparent !important;
    }
  }
}

body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  @extend %flexSpaceBetween;
  flex-direction: column;
  min-height: 100vh;
  &:before {
    content: '';
    flex-grow: 1;
  }
  @media (min-aspect-ratio: 21/9) {
    padding: 0 12.5%;
  }
  &.black {
    background-color: #000;
    .logo {
      background: url('../img/logo_white.svg') 0 0 /100% auto no-repeat;
    }
    .langs .separator {
      background: #fff;
    }
    .separator._horizontal:before {
      background: #fff;
    }
  }
  &.white {
    background-color: #F6F6FF;
    .logo {
      background: url('../img/logo_black.svg') 0 0 /100% auto no-repeat;
    }
    .separator._horizontal:before {
      background: $color01;
    }
  }
}

main {
  //@extend %defaultPaddings;
  width: 100%;
  //min-height: 100vh;
  //overflow-x: hidden;
  //background: url('../img/main-bg.jpg') 50% 50% /100% auto repeat-y;
  position: relative;
  //margin: 0 auto;
  //background-color: #68676C;
  @include adaptive(padding-top, 130, 96);
}

//%border-radius-35 {
//  border-radius: vwpx(35);
//  @media screen and (max-width: $mobileWidth + px) {
//    border-radius: vwpx(160);
//  }
//}
//
//.container {
//  padding: 0 0 0 18%;
//  width: 100%;
//  height: 100%;
//  overflow: hidden;
//  @media screen and (max-width: $mobileWidth + px) {
//    padding: 20% 0 0;
//  }
//}

//.content {
//  @extend %flexCenter;
//  flex-direction: column;
//  position: relative;
//  padding: 4.764% 9.528%;
//  height: 100%;
//  @media screen and (max-width: $mobileWidth + px) {
//    padding: 9.4% 6.7%;
//  }
//  .content-title {
//    @extend %flexCenter;
//    flex-direction: column;
//    text-align: center;
//    margin-bottom: 2%;
//    p {
//      width: 65%;
//    }
//    @media screen and (max-width: $mobileWidth + px) {
//      p {
//        width: 100%;
//      }
//    }
//  }
//}

//@import "main/elements";
//@import "main/slider";
@import "main/index";
//@import "main/technology";
//@import "main/advantages";
//@import "main/assortment";
//@import "main/blog";
//@import "main/collaboration";
//@import "main/contacts";
//@import "main/404";
//
//.decors {
//  @extend %absDefault;
//  height: 100vh;
//  @media screen and (max-width: $mobileWidth + px) {
//    height: 100%;
//  }
//}

//form, .close {
//  z-index: 10;
//}

//.contacts,
//.collaboration {
//  form {
//    position: relative;
//    width: 100%;
//    //margin-bottom: 8%;
//    @extend %flexCenter;
//    .form-box {
//      position: relative;
//      width: 37%;
//      @extend %flexCenter;
//      flex-direction: column;
//      //padding-bottom: 4.8%;
//      padding: 4% 5.4% 2%;
//      border: 2px solid #4FAC25;
//      @extend %border-radius-35;
//      background: rgba(255, 255, 255, 0.85);
//      @media screen and (max-width: $mobileWidth + px) {
//        width: 100%;
//      }
//    }
//    input, textarea {
//      //@extend %absDefault;
//      width: 100%;
//      background: rgba(255, 255, 255, 0.85);
//      border: 2px solid #4FAC25;
//      @extend %border-radius-35;
//      outline: 0;
//      @include aFontSize(17);
//      font-family: $font01;
//      padding: 6% 8%;
//      margin-bottom: 10%;
//      resize: none;
//      &::placeholder {
//        @include aFontSize(17);
//        font-family: $font01;
//        letter-spacing: 0.01em;
//        color: #B1B1B1;
//      }
//      @media screen and (max-width: $mobileWidth + px) {
//        text-align: center;
//      }
//    }
//    .btn {
//      position: relative;
//      width: 65%;
//      padding-bottom: 16%;
//      margin-bottom: 10%;
//      @media screen and (max-width: $mobileWidth + px) {
//        width: 100%;
//        padding-bottom: 18.4%;
//      }
//    }
//    .policy {
//      font-family: $font01;
//      color: #B1B1B1;
//      @include aFontSize(15);
//      text-align: center;
//      .policy-link {
//        color: inherit;
//        @include aFontSize(15);
//        text-decoration: underline;
//        cursor: pointer;
//      }
//    }
//  }
//}

//.collaboration {
//  form {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//    .form-box {
//      width: 25%;
//      padding: 3%;
//      .close {
//        top: 3%;
//        right: 5%;
//        width: 5.8%;
//        padding-bottom: 5.8%;
//      }
//      p {
//        text-align: center;
//        width: 75%;
//        margin: 0 0 8%;
//      }
//      @media screen and (max-width: $mobileWidth + px) {
//        width: 100%;
//        padding: 6%;
//        p {
//          margin: 0 0 4%;
//        }
//        .close {
//          top: 0;
//        }
//        input, textarea, .btn {
//          margin-bottom: 6%;
//        }
//      }
//    }
//  }
//}

//.popup {
//  //@extend %flexCenter;
//  position: fixed;
//  z-index: 1002;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  background: rgba(0,0,0,0.8);
//  display: none;
//  .close {
//    position: absolute;
//    top: 4%;
//    right: 2%;
//    width: 2.8%;
//    padding-bottom: 2.8%;
//    cursor: pointer;
//    background: url("../img/cross.svg") 50% 50% /100% auto no-repeat;
//  }
//  .popup-inner {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    transform: translate(-50%, -50%);
//    width: 70%;
//    height: 80%;
//    padding: 3% 2% 3% 3%;
//    border: 2px solid #4FAC25;
//    @extend %border-radius-35;
//    background: rgba(255, 255, 255, 0.85);
//    article {
//      height: 100%;
//      overflow: hidden;
//      h4 {
//        text-align: center;
//        margin-bottom: 2%;
//      }
//      .popup-text {
//        display: inline-block;
//        overflow-y: scroll;
//        width: 100%;
//        height: 92%;
//        padding-right: 2%;
//      }
//      p {
//        color: #000;
//        text-indent: 2%;
//      }
//    }
//  }
//  @media screen and (max-width: $mobileWidth + px) {
//    .popup-inner {
//      width: 100%;
//      height: 100%;
//    }
//    .close {
//      top: 0;
//      margin-top: 4%;
//      right: 3%;
//      width: 6%;
//      padding-bottom: 6%;
//    }
//  }
//}
//
//._disable-scroll {
//  overflow: hidden;
//  @media screen and (min-width: $mobileWidth + px) {
//    padding-right: 17px;
//  }
//}