@import "./variables";
@import "./mixins.scss";
@import "./main/animations";

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  //overflow-y: scroll;
  //touch-action: manipulation;
  &::-webkit-scrollbar {
    display: none;
  }
}

article {
  position: relative;
  width: 100%;
  z-index: 9;
}

section {
  position: relative;
  width: 100%;
  @extend %defaultPaddings;
  z-index: 2;
  &._with-box {
    @extend %alternatePaddings;
  }
  > h1, > h2, > h3, > h4 {
    @include adaptive(padding-left, 10, 10);
    @include adaptive(padding-right, 10, 10);
  }
}

h1, h2, h3, h4 {
  font-family: $RalewayMedium;
  margin: 0;
  font-weight: 500;
  //letter-spacing: 0.01em;
}

h1 {
  @include adaptive(font-size, 122, 54);
  line-height: 105%;
}

h2 {
  @include adaptive(font-size, 92, 46);
  line-height: 105%;
}

h3 {
  @include adaptive(font-size, 58, 36);
  line-height: 118%;
}

h4 {
  @include adaptive(font-size, 47, 32);
  line-height: 118%;
}

p, ul, li, input, textarea {
  font-family: $RalewayRegular;
  margin: 0;
  line-height: 130%;
  font-weight: 400;
  @include adaptive(font-size, 22, 22);
  @include adaptive(margin-bottom, 14, 14);
  &._p1 {
    @include adaptive(font-size, 32, 24);
  }
  &._p2 {
    @include adaptive(font-size, 18, 18);
    color: #8F8F8F !important;
  }
}

ul {
  padding: 0;
  margin-left: 7%;
}

._bold {
  font-weight: 600;
}

@import "fonts";
@import "main/buttons";
@import "main/box";
@import "main/popup";
@import "main/header";
@import "main/footer";
@import "main/forms";
@import "main/table";

.logo {
  display: block;
  @include adaptive(width, 165, 165);
  @include adaptive(height, 35, 35);
}

.logo-2 {
  display: inline-block;
  border-radius: 160px;
  padding: 0 2%;
  margin: 0 2%;
   * {
     color: #fff !important;
   }
}

._no-margin-top {
  margin-top: 0 !important;
}

._no-margin-left {
  margin-left: 0 !important;
}

.langs {
  @extend %flexCenter;
  .separator {
    &._vertical {
      @include adaptive(height, 34, 34);
      @include adaptive(margin-right, 18, 18);
      @include adaptive(margin-left, 18, 18);
      width: 2px;
    }
  }
}

.lang {
  @include adaptive(font-size, 22, 22);
  font-family: $RalewayRegular;
  color: $color01;
  &._current {
    color: #fff;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
  }
}

.decor {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 1;
  @include adaptive(width, 878, 878);
  @include adaptive(height, 878, 878);
  background: $color01;
  filter: blur(650px);
  opacity: 0.8;
  //width: 1780px;
  //height: 1780px;
  //
  //background: radial-gradient(37.41% 37.41% at 50% 50%, #2E27EB 21.25%, rgba(46, 39, 235, 0) 100%);
}

.separator {
  display: inline-block;
  position: relative;
  z-index: 2;
  &._horizontal {
    height: 1px;
    width: 100%;
    @extend %defaultPaddings;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
    }
    &._large {
      @include adaptive(margin-top, 90, 45);
      @include adaptive(margin-bottom, 90, 45);
      &._box-adjustment {
        @include adaptive(margin-top, 40, 45);
      }
    }
    &._medium {
      @include adaptive(margin-top, 60, 30);
      @include adaptive(margin-bottom, 60, 30);
    }
    &._small {
      @include adaptive(margin-top, 30, 15);
      @include adaptive(margin-bottom, 30, 15);
    }
    &._smaller {
      @include adaptive(margin-top, 15, 10);
      @include adaptive(margin-bottom, 15, 10);
    }
    &._small-top {
      @include adaptive(margin-top, 10, 30);
      @include adaptive(margin-bottom, 30, 15);
    }
  }
  &._transparent {
    &:before {
      background: transparent !important;
    }
  }
}

.page-head {
  @include adaptive(height, 420, 320);
  position: relative;
  .page-head-background {
    @extend %absDefault;
    img, video {
      @extend %centerXY;
      height: 100%;
      width: auto;
    }
  }
}

.shadow-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  //animation: opacity0to1 0.5s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  animation: opacity0to1 0.5s ease forwards;
  z-index: 2000;
}

body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  //@extend %flexSpaceBetween;
  //flex-direction: column;
  //min-height: 100vh;
  //&:before {
  //  content: '';
  //  flex-grow: 1;
  //}
  &:after {
    content: '';
    display: block;
    @extend %absDefault;
    background: #000;
    opacity: 0;
    transition: all .25s ease;
    pointer-events: none;
    z-index: 900;
  }
  @media (min-aspect-ratio: 21/9) {
    padding: 0 12.5%;
  }
  &._show-popup {
    overflow: hidden;
  }
  &._lock {
    &:after {
      opacity: 0.8;
      pointer-events: all;
    }
  }
  &.black {
    background-color: #000;
    h1, h2, h3, h4, p, ul, li,
    input, textarea,
    .lang._current,
    .header-main-links a,
    .mail-links, .mail-links a,
    .copyright,
    .tel-link,
    .box._menu-links .link {
      color: #fff;
    }
    .logo {
      background: url('../img/logo_white.svg') 0 0 /100% auto no-repeat;
    }
    .logo-2 {
      background: #2E27EB;
    }
    .separator._horizontal:before,
    .langs .separator, {
      background: #fff;
    }
    form {
      input, textarea {
        border-color: #fff;
      }
    }
  }
  &.white {
    background-color: #F6F6FF;
    h1, h2, h3, h4, p, ul, li,
    input, textarea,
    .lang._current,
    .header-main-links a,
    .mail-links, .mail-links a,
    .copyright,
    .tel-link,
    .box._menu-links .link {
      color: #2B333A;
    }
    .section-news .box-item-content {
      h1, h2, h3, h4, p {
        color: #fff;
      }
    }
    .logo {
      background: url('../img/logo_black.svg') 0 0 /100% auto no-repeat;
    }
    .logo-2 {
      background: linear-gradient(260.37deg, #FFB7DE 2.77%, rgba(74, 69, 149, 0) 119.07%), #0CBDFF;
    }
    .langs .separator {
      background: #2B333A;
    }
    .separator._horizontal:before {
      background: $color01;
    }
  }
}

main {
  //@extend %defaultPaddings;
  width: 100%;
  //min-height: 100vh;
  //overflow-x: hidden;
  //background: url('../img/main-bg.jpg') 50% 50% /100% auto repeat-y;
  position: relative;
  //margin: 0 auto;
  @include adaptive(padding-top, 130, 96);
}

@import "main/slider";
@import "main/index";
@import "main/products";
@import "main/product";
@import "main/projects";
@import "main/news";
@import "main/vacancies";
@import "main/contacts";
@import "main/directions";