extends ../layout/layout.pug
block vars
    - var title = 'CESCA - Направления'
    - var bodyClass = "black"
block header
    - var name = "directions"
    include ../includes/header.pug
    include ../includes/mixins.pug
block main
    main.directions
        .page-head
            .page-head-background
                video(autoplay='' loop='' muted='' poster='./img/directions/page-head.jpg')
                    source(src='./video/directions/page-head.mp4' type='video/mp4')
        .separator._horizontal._small._transparent
        section.section._with-box
            .box._wrap
                .box-item._width50
                    h2 Направления деятельности
                .box-item._width100
                    a.button._type-1._size-6(href='#')
                        span Задать вопрос
        .separator._horizontal._medium._transparent
        section.section-slider-nav._with-box
            .box._wrap
                .box-item._width50
                    .slider.slider-directions-info
                        .slide(style='display: block;')
                            p.slide-info Компания CESCA создает уникальные инфраструктурные решения, учитывая актуальные запросы рынка. Внедряемые решения позволяют автоматизировать бизнес-процессы, повысить эффективность сотрудников и вывести предприятие на качественно новый уровень.
                        .slide
                            p.slide-info Описание: Специалисты CESCA обладают обширным практическим опытом в ведении масштабных строительных проектов с крупнейшими игроками на рынке. В процессе строительства используются широкий спектр современных технологий, таких как: BIM, цифровые двойники, андроидизированные системы, роботизированные системы, IoT.
                .box-item._width50
                    .slider.slider-directions-nav
                        .slide
                            .slide-image(style='background-image: url(./img/directions/direction-1.jpg)')
                            h3.slide-name Инфраструктурные решения
                        .slide._darken
                            .slide-image(style='background-image: url(./img/product/product-3.jpg)')
                            h3.slide-name Строительство
        .separator._horizontal._medium._transparent

        .slider.slider-directions-content
            .slide.slide-direction-content(style='display: block;')
                section.section._with-box
                    .box._wrap
                        a.button._type-3._width50._active._content-switcher(href='#')
                            span Облачная инфраструктура
                        a.button._type-3._width25._square._content-switcher(href='#')
                            span Вычислительная инфраструктура
                        a.button._type-3._width25._content-switcher(href='#')
                            span Объединенные коммуникации
                        a.button._type-3._width25._square._content-switcher(href='#')
                            span Телекоммуникационная инфраструктура
                        a.button._type-3._width50._content-switcher(href='#')
                            span Системы искусственного интеллекта
                .separator._horizontal._small._transparent

                .switch-content-box
                    .switch-content(style='display: block;')
                        section.section._with-box
                            .box._wrap
                                .box-item._width100
                                    h4 Современные облачные решения позволяют эффективно реализовывать цифровые проекты организации. Решения позволяют уменьшить время запуска клиентских серверов, обеспечить безопасное хранение данных и сократить расходы на обслуживание.
                        .separator._horizontal._small
                        section.section-switch-1._with-box
                            .box._wrap
                                .box-item._width44._no-back._info-text-overlapping._padding-bottom
                                    .box-item-inner
                                        article.box-item-info
                                            h4.box-item-info-title
                                                span.logo-2._no-margin-left CESCA
                                                | создает инфраструктуры различного уровня сложности на базе частных и гибридных облаков:
                                            span.box-item-info-text
                                                p Частные облака строятся на базе готовых аппаратно-программных решений на стороне клиента.
                                                p Гибридные облака представляют собой гибкое сочетание сервисов облачных вычислений.
                                .box-item._width56._image
                                    .box-item-inner
                                        .box-item-image(style='background-image: url(./img/directions/direction-1.jpg)')
                        .separator._horizontal._small._transparent
                        section.section-switch-2._with-box
                            .box._wrap
                                mixin sectionSwitch2BoxItem(number, text, classes)
                                    .box-item._width16._center-content._border._round-corners
                                        .box-item-inner
                                            .box-item-info
                                                h1.box-item-info-title(class=classes)= number
                                                span.box-item-info-text
                                                    p= text
                                +sectionSwitch2BoxItem('1', 'Бесперебойная работа сервисов', 'dancing-number _1')
                                +sectionSwitch2BoxItem('2', 'Оптимизация расходов на инфраструктуру', 'dancing-number _2')
                                +sectionSwitch2BoxItem('3', 'Единый центр управления', 'dancing-number _3')
                                +sectionSwitch2BoxItem('4', 'Безопасное хранение данных', 'dancing-number _4')
                                +sectionSwitch2BoxItem('5', 'Автономность', 'dancing-number _5')
                                +sectionSwitch2BoxItem('6', 'Гибкость', 'dancing-number _6')
                        .separator._horizontal._small._transparent
                        section.section-switch-3._with-box
                            h4 Проекты
                            .separator._horizontal._smaller._transparent
                            .box._wrap
                                a.box-item._width33._center-content._row(href=`#`)
                                    .box-item-inner
                                        .box-item-content
                                            img(src=`./img/index/partners/partner-8.png`, alt=".")
                                            .button-arrow._type-1._size-2
                                a.box-item._width33._center-content._row(href=`#`)
                                    .box-item-inner
                                        .box-item-content
                                            img(src=`./img/index/partners/partner-5.png`, alt=".")
                                            .button-arrow._type-1._size-2
                        .separator._horizontal._small._transparent
                        section.section-switch-4._with-box
                            h4 Продукты
                            .separator._horizontal._smaller._transparent
                            .box._wrap
                                a.box-item._width33._border(href=`#`)
                                    .box-item-inner
                                        .box-item-info
                                            span.box-item-info-text
                                                p._no-margin-top EMC Vblock
                                a.box-item._width33._border(href=`#`)
                                    .box-item-inner
                                        .box-item-info
                                            span.box-item-info-text
                                                p._no-margin-top NetApp FlexPod
                                a.box-item._width33._border(href=`#`)
                                    .box-item-inner
                                        .box-item-info
                                            span.box-item-info-text
                                                p._no-margin-top Интеграция ПО управления
                                            span.box-item-info-text
                                                p._p2 открытая платформа OpenStack от Mirantis, HP, RedHat, продукты от BMC, VMware, Microsoft, Parallels

                    .switch-content
                        section.section._with-box
                            .box._wrap
                                .box-item._width100
                                    h4 Комплекс решений направленных на строительство коммерческих сооружений с нуля. CESCA оказывает полный спектр услуг от проектирования и утверждения плана сооружений до полного введения здания в эксплуатацию.
                        .separator._horizontal._small
                        section.section-switch-1._with-box
                            .box._wrap
                                .box-item._width44._no-back._info-text-overlapping._padding-bottom
                                    .box-item-inner
                                        article.box-item-info
                                            h4.box-item-info-title
                                                | Опыт специалистов
                                                span.logo-2 CESCA
                                                | позволяет составить оптимальный план строительных работ и реализовать проект эффективно и в кратчайшие сроки.
                                            span.box-item-info-text
                                                p Гибридные облака представляют собой гибкое сочетание сервисов облачных вычислений.
                                                p Частные облака строятся на базе готовых аппаратно-программных решений на стороне клиента.
                                .box-item._width56._image._darken
                                    .box-item-inner
                                        .box-item-image(style='background-image: url(./img/product/product-3.jpg)')


            .slide.slide-direction-content
                section.section._with-box
                    .box._wrap
                        a.button._type-3._width50._active._content-switcher(href='#')
                            span Системы искусственного интеллекта
                        a.button._type-3._width25._square._content-switcher(href='#')
                            span Телекоммуникационная инфраструктура
                .separator._horizontal._small._transparent

                .switch-content-box
                    .switch-content(style='display: block;')
                        section.section._with-box
                            .box._wrap
                                .box-item._width100
                                    h4 Современные облачные решения позволяют эффективно реализовывать цифровые проекты организации. Решения позволяют уменьшить время запуска клиентских серверов, обеспечить безопасное хранение данных и сократить расходы на обслуживание.
                        .separator._horizontal._small
                        section.section-switch-1._with-box
                            .box._wrap
                                .box-item._width44._no-back._info-text-overlapping._padding-bottom
                                    .box-item-inner
                                        article.box-item-info
                                            h4.box-item-info-title
                                                span.logo-2._no-margin-left CESCA
                                                | создает инфраструктуры различного уровня сложности на базе частных и гибридных облаков:
                                            span.box-item-info-text
                                                p Частные облака строятся на базе готовых аппаратно-программных решений на стороне клиента.
                                                p Гибридные облака представляют собой гибкое сочетание сервисов облачных вычислений.
                                .box-item._width56._image
                                    .box-item-inner
                                        .box-item-image(style='background-image: url(./img/directions/direction-1.jpg)')
                        .separator._horizontal._small._transparent
                        section.section-switch-2._with-box
                            .box._wrap
                                mixin sectionSwitch2BoxItem(number, text)
                                    .box-item._width16._center-content._border._round-corners
                                        .box-item-inner
                                            .box-item-info
                                                h1.box-item-info-title= number
                                                span.box-item-info-text
                                                    p= text
                                +sectionSwitch2BoxItem('1', 'Бесперебойная работа сервисов', 'dancing-number _1')
                                +sectionSwitch2BoxItem('2', 'Оптимизация расходов на инфраструктуру', 'dancing-number _2')
                                +sectionSwitch2BoxItem('3', 'Единый центр управления', 'dancing-number _3')
                                +sectionSwitch2BoxItem('4', 'Безопасное хранение данных', 'dancing-number _4')
                        .separator._horizontal._small._transparent
                        section.section-switch-3._with-box
                            h4 Проекты
                            .separator._horizontal._smaller._transparent
                            .box._wrap
                                a.box-item._width33._center-content._row(href=`#`)
                                    .box-item-inner
                                        .box-item-content
                                            img(src=`./img/index/partners/partner-8.png`, alt=".")
                                            .button-arrow._type-1._size-2
                                a.box-item._width33._center-content._row(href=`#`)
                                    .box-item-inner
                                        .box-item-content
                                            img(src=`./img/index/partners/partner-5.png`, alt=".")
                                            .button-arrow._type-1._size-2
                                a.box-item._width33._center-content._row(href=`#`)
                                    .box-item-inner
                                        .box-item-content
                                            img(src=`./img/index/partners/partner-8.png`, alt=".")
                                            .button-arrow._type-1._size-2
                        .separator._horizontal._small._transparent
                        section.section-switch-4._with-box
                            h4 Продукты
                            .separator._horizontal._smaller._transparent
                            .box._wrap
                                a.box-item._width33._border(href=`#`)
                                    .box-item-inner
                                        .box-item-info
                                            span.box-item-info-text
                                                p._no-margin-top NetApp FlexPod
                                a.box-item._width33._border(href=`#`)
                                    .box-item-inner
                                        .box-item-info
                                            span.box-item-info-text
                                                p._no-margin-top Интеграция ПО управления
                                            span.box-item-info-text
                                                p._p2 открытая платформа OpenStack от Mirantis, HP, RedHat, продукты от BMC, VMware, Microsoft, Parallels

                    .switch-content
                        section.section._with-box
                            .box._wrap
                                .box-item._width100
                                    h4 Комплекс решений направленных на строительство коммерческих сооружений с нуля. CESCA оказывает полный спектр услуг от проектирования и утверждения плана сооружений до полного введения здания в эксплуатацию.
                        .separator._horizontal._small
                        section.section-switch-1._with-box
                            .box._wrap
                                .box-item._width44._no-back._info-text-overlapping._padding-bottom
                                    .box-item-inner
                                        article.box-item-info
                                            h4.box-item-info-title
                                                | Опыт специалистов
                                                span.logo-2 CESCA
                                                | позволяет составить оптимальный план строительных работ и реализовать проект эффективно и в кратчайшие сроки.
                                            span.box-item-info-text
                                                p Гибридные облака представляют собой гибкое сочетание сервисов облачных вычислений.
                                                p Частные облака строятся на базе готовых аппаратно-программных решений на стороне клиента.
                                .box-item._width56._image._darken
                                    .box-item-inner
                                        .box-item-image(style='background-image: url(./img/product/product-3.jpg)')

        .separator._horizontal._large
block footer
    include ../includes/footer.pug
