extends ../layout/layout.pug
block vars
    - var title = 'CESCA'
    - var bodyClass = "black"
block header
    - var name = "index"
    include ../includes/header.pug
    include ../includes/mixins.pug
block main
    main.index
        //.decor._1
        //.decor._2
        .page-head
            .page-head-background
                video(autoplay='' loop='' muted='' poster='./img/index/page-head.jpg')
                    source(src='./video/index/page-head.mp4' type='video/mp4')
            .page-head-info
                article
                    h1 ИТ&#8209;решения
                    p для вашего бизнеса
        .separator._horizontal._large._transparent
        section.section-1._with-box
            .box
                .box-item._width50
                    h3 CESCA – инновационный ИТ&#8209;интегратор, представленный на рынке ИТ&#8209;услуг широкого профиля с 2014 года.
        .separator._horizontal._small._transparent
        section.section-2._with-box
            .decor._bottom._right
                .decor-part
                .decor-part
                .decor-part
                .decor-part
            .box
                .box-item._width30
                    a.button-arrow._type-1._size-1._border(href='projects.html')
                .box-item._width70
                    .box._directionColumn._wrap
                        p.box-item._width50 Компания CESCA специализируется на разработке передовых решений для бизнеса и реализации проектов любой сложности с учетом всех пожеланий клиента.
                        p.box-item._width50 Миссия CESCA состоит в создании надежной высокотехнологичной основы, которая поможет клиентам развивать, масштабировать и совершенствовать свой бизнес.
                        p.box-item._width50 Каждый проект — это уникальное решение, позволяющее обеспечить основу для успешного развития любого бизнеса.
                        p.box-item._width50 CESCA не ищет ответы там, где находят их другие. Мы стираем границы и создаем новую реальность.
        .separator._horizontal._large
        section.section-3._with-box
            h4 Наша специализация
            .separator._horizontal._small._transparent
            .box._wrap
                .box-item._width20
                    article
                        h1.dancing-number._1 1
                        p Создание уникальных ИТ&#8209;продуктов
                .box-item._width20
                    article
                        h1.dancing-number._2 2
                        p Разработка программно-аппаратных комплексов
                .box-item._width20
                    article
                        h1.dancing-number._3 3
                        p Внедрение современных ИТ&#8209;решений в бизнес
                .box-item._width20
                    article
                        h1.dancing-number._4 4
                        p Техническая поддержка ИТ&#8209;инфраструктуры
                .box-item._width20
                    article
                        h1.dancing-number._5 5
                        p Автоматизированные системы управления зданием
                .box-item._width20
                    article
                        h1.dancing-number._6 6
                        p Инженерные проекты любого уровня сложности
                .box-item._width20
                    article
                        h1.dancing-number._7 7
                        p Аудит, консалтинг, экспертиза в сфере ИТ
                .box-item._width20
                    article
                        h1.dancing-number._8 8
                        p Комплексный сервис и ИТ&#8209;аутсорсинг
                .box-item._width20
                    article
                        h1.dancing-number._9 9
                        p Поставка и обслуживание оборудования
                .box-item._width20
                    article
                        h1.dancing-number._10 10
                        p Информационная безопасность
        .separator._horizontal._large
        section.section-4._with-box
            h4 Направления деятельности
            .separator._horizontal._small._transparent
            .box._wrap
                +boxItem('_width50', 'Инфраструктурные решения', '#')
                +boxItem('_width25 _image', 'Строительство', '#', './img/index/directions-1.jpg')
                +boxItem('_width25 _image', 'Интеграция, управление и безопасность', '#', './img/index/directions-2.jpg')
                +boxItem('_width25 _image _darken', 'Прикладные и бизнес-решения', '#', './img/index/directions-3.jpg')
                +boxItem('_width50 _image', 'Комплексные аппаратные решения', '#', './img/index/directions-4.jpg')
                +boxItem('_width25', 'ИТ-услуги', '#')
        .separator._horizontal._small._transparent
        section.section-5._with-box
            h4 Наши продукты
            .separator._horizontal._small._transparent
            .box._wrap
                a.box-item._width100._image(href='product.html')
                    .box-item-inner
                        .box-item-image(style='background-image: url(./img/index/products-1.jpg)')
                        .box-item-content
                            p._p1 Система мониторинга климатических условий серверной стойки и управления доступом AURA
                            .button-arrow._type-2._size-3
                a.box-item._width100._image(href='product.html')
                    .box-item-inner
                        .box-item-image(style='background-image: url(./img/index/products-2.jpg)')
                        .box-item-content
                            p._p1 CELERI – комплекс управления группой дронов
                            .button-arrow._type-2._size-3
        .separator._horizontal._medium._transparent
        section.section-6._with-box._minus-z
            .decor._bottom._left
                .decor-part
                .decor-part
                .decor-part
            .decor-part
            h4 Партнеры CESCA
            .separator._horizontal._small._transparent
            .box._wrap
                - var n = 1
                while n < 13
                    +boxItem('_width16 _image _image-size-contain', null, null, `./img/index/partners/partner-${n++}.png`)
        .separator._horizontal._large
block footer
    include ../includes/footer.pug
