extends ../layout/layout.pug
block vars
    - var title = 'CESCA - Новости'
    - var bodyClass = "white"
block header
    - var name = "news"
    include ../includes/header.pug
    include ../includes/mixins.pug
block main
    main.news
        .page-head
            .page-head-background
                img(src="./img/news/page-head.jpg", alt=".")
        .separator._horizontal._small._transparent
        section.section-1._with-box
            .box
                .box-item._width50
                    h2 Новости
                    span.logo-2
                        h2 CESCA
        .separator._horizontal._medium._transparent
        section.section-2._with-box
            .box._wrap
                a.button._type-2._active._size-3(href='#')
                    span вебинар
                a.button._type-2._size-3(href='#')
                    span данные
                a.button._type-2._size-3(href='#')
                    span конференция
                a.button._type-2._active._size-3(href='#')
                    span встреча
                a.button._type-2._size-3(href='#')
                    span партнеры
        .separator._horizontal._small
        section.section-news._with-box
            .box._wrap
                a.box-item._width50._image._has-popup(href=`#`)
                    .box-item-inner
                        .box-item-image(style='background-image: url(./img/news/news-1.jpg)')
                        .box-item-content
                            h4
                                span.box-item-date 17.05.2022г
                                span Вебинар «Защита и резервное копирование данных в новых реалиях»
                            .button-arrow._type-1._size-2
                a.box-item._width50._image._has-popup(href=`#`)
                    .box-item-inner
                        .box-item-image(style='background-image: url(./img/news/news-2.jpg)')
                        .box-item-content
                            h4
                                span.box-item-date 28.04.2022г
                                span Вебинар Treolan и UTINET
                            .button-arrow._type-1._size-2
                a.box-item._width100._image._has-popup(href=`#`)
                    .box-item-inner
                        .box-item-image(style='background-image: url(./img/news/news-3.jpg)')
                        .box-item-content
                            h4
                                span.box-item-date 17.03.2022г
                                span Вебинар "Инновации в построении СХД"
                            .button-arrow._type-1._size-2
                a.box-item._width50._image._has-popup(href=`#`)
                    .box-item-inner
                        .box-item-image(style='background-image: url(./img/news/news-4.jpg)')
                        .box-item-content
                            h4
                                span.box-item-date 05.02.2022г
                                span Вебинар Staffcop
                            .button-arrow._type-1._size-2
                a.box-item._width50._image._has-popup(href=`#`)
                    .box-item-inner
                        .box-item-image(style='background-image: url(./img/news/news-5.jpg)')
                        .box-item-content
                            h4
                                span.box-item-date 19.01.2022г
                                span Успехи ХК CESCA
                            .button-arrow._type-1._size-2
        section.section
            a.button._type-2._active._size-4._align-center(href='#')
                span загрузить еще новости




        //section.section-30._with-box
        //    .box._wrap
        //        mixin projectsBoxItem(number)
        //            a.box-item._width33._center-content._row._has-popup(href=`#`)
        //                .box-item-inner
        //                    .box-item-content
        //                        img(src=`./img/projects/project-${number}.png`, alt=".")
        //                        .button-arrow._type-1._size-2
        //                        .popup-content-inner
        //                            .box._wrap
        //                                .box-item._width100
        //                                    img.project-logo(src="./img/projects/project-1-1.png", alt=".")
        //                                    h4 Стратегия развития региональных отделений АО «Россельхозбанк»
        //                                .box-item._width33
        //                                    p
        //                                        span._bold Заказчик:
        //                                        span АО «Россельхозбанк»
        //                                    p
        //                                        span._bold Год:
        //                                        span 2017-2020г
        //                                    p
        //                                        span._bold Цель:
        //                                        span Организация пространства региональных отделений банка для эффективного функционирования.
        //                                .box-item._width33
        //                                    p
        //                                        span._bold Задачи:
        //                                    ul
        //                                        li Проведение архитектурных и инженерных работ;
        //                                        li Разработка проектной документации;
        //                                        li Проведение ремонтно-строительных работ;
        //                                        li Перепланировка помещений в соответствии с существующим законодательством;
        //                                        li Монтаж систем инженерно- технического обеспечения в офисах банка;
        //                                        li Закупка IT оборудования;
        //                                        li Проведение испытаний оборудования и введенных в работу всех систем.
        //                                .box-item._width33
        //                                    p
        //                                        span._bold Результат:
        //                                    p
        //                                        span В рамках долговременного сотрудничества с АО «Россельхозбанк» специалисты CESCA в полном объеме реализовали стратегию развития региональных отделений организации. В результате работы над совместным проектом были открыты новые отделения банка по всей России: в Москве, Абинске, Канске, Оренбурге и других городах. Также был произведён ряд ремонтно-строительных работ в ранее открытых офисах.
                //+projectsBoxItem('1')
                //+projectsBoxItem('2')
                //+projectsBoxItem('3')
                //+projectsBoxItem('2')
                //+projectsBoxItem('4')
                //+projectsBoxItem('2')
        .separator._horizontal._large
block footer
    include ../includes/footer.pug
