extends ../layout/layout.pug
block vars
    - var title = 'CESCA - Продукты'
    - var bodyClass = "black"
block header
    - var name = "products"
    include ../includes/header.pug
    include ../includes/mixins.pug
block main
    main.products
        .page-head
            .page-head-background
                video(autoplay='' loop='' muted='' playsinline='' poster='./img/products/page-head.jpg')
                    source(src='./video/products/page-head.mp4' type='video/mp4')
        .separator._horizontal._small._transparent
        section.section-1._with-box
            .box
                .box-item._width50
                    h2 Уникальные ИТ&#8209;продукты для вашего бизнеса
        .separator._horizontal._medium._transparent
        section.section-1._with-box
            .box._wrap._page-info
                .box-item._width25
                    p CESCA занимается разработкой и дальнейшей технической поддержкой многопрофильных технологических решений, которые автоматизируют и упрощают бизнес-процессы заказчика.
                .box-item._width75
                    a.button._type-1._size-2(href='#')._contact-modal
                        span Индивидуальная разработка
        .separator._horizontal._medium
        section.section-2._with-box
            .box._wrap
                a.box-item._width100._image(href='product.html')
                    .box-item-inner
                        .box-item-image(style='background-image: url(./img/index/products-1.jpg)')
                        .box-item-content
                            p._p1 Система мониторинга климатических условий серверной стойки и управления доступом AURA
                            .button-arrow._type-2._size-3
                                .button-arrow-part
                                .button-arrow-part
                a.box-item._width100._image(href='product.html')
                    .box-item-inner
                        .box-item-image(style='background-image: url(./img/index/products-2.jpg)')
                        .box-item-content
                            p._p1 CELERI – комплекс управления группой дронов
                            .button-arrow._type-2._size-3
                                .button-arrow-part
                                .button-arrow-part
        .separator._horizontal._large
block footer
    include ../includes/footer.pug
