extends ../layout/layout.pug
block vars
    - var title = 'CESCA - Проекты'
    - var bodyClass = "black"
block header
    - var name = "projects"
    include ../includes/header.pug
    include ../includes/mixins.pug
block main
    main.projects
        .page-head
            .page-head-background
                video(autoplay='' loop='' muted='' poster='./img/projects/page-head.jpg')
                    source(src='./video/projects/page-head.mp4' type='video/mp4')
        .separator._horizontal._small._transparent
        section.section-1._with-box
            .box
                .box-item._width50
                    h2 Проекты
                    span.logo-2
                        h2 CESCA
        .separator._horizontal._medium
        section.section-2._with-box
            .box._wrap
                mixin projectsBoxItem(number)
                    a.box-item._width33._center-content._row._has-popup(href=`#`)
                        .box-item-inner
                            .box-item-content
                                img(src=`./img/projects/project-${number}.png`, alt=".")
                                .button-arrow._type-1._size-2
                                .popup-content-inner
                                    .box._wrap
                                        .box-item._width100
                                            img.project-logo(src="./img/projects/project-1-1.png", alt=".")
                                            h4.popup-content-title Стратегия развития региональных отделений АО «Россельхозбанк»
                                        .box-item._width33
                                            p
                                                span._bold Заказчик:
                                                span АО «Россельхозбанк»
                                            p
                                                span._bold Год:
                                                span 2017-2020г
                                            p
                                                span._bold Цель:
                                                span Организация пространства региональных отделений банка для эффективного функционирования.
                                        .box-item._width33
                                            p
                                                span._bold Задачи:
                                            ul
                                                li Проведение архитектурных и инженерных работ;
                                                li Разработка проектной документации;
                                                li Проведение ремонтно-строительных работ;
                                                li Перепланировка помещений в соответствии с существующим законодательством;
                                                li Монтаж систем инженерно- технического обеспечения в офисах банка;
                                                li Закупка IT оборудования;
                                                li Проведение испытаний оборудования и введенных в работу всех систем.
                                        .box-item._width33
                                            p
                                                span._bold Результат:
                                            p
                                                span В рамках долговременного сотрудничества с АО «Россельхозбанк» специалисты CESCA в полном объеме реализовали стратегию развития региональных отделений организации. В результате работы над совместным проектом были открыты новые отделения банка по всей России: в Москве, Абинске, Канске, Оренбурге и других городах. Также был произведён ряд ремонтно-строительных работ в ранее открытых офисах.
                +projectsBoxItem('1')
                +projectsBoxItem('2')
                +projectsBoxItem('3')
                +projectsBoxItem('2')
                +projectsBoxItem('4')
                +projectsBoxItem('2')
        .separator._horizontal._large._box-adjustment
block footer
    include ../includes/footer.pug
