doctype html
block vars
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport" , content="width=device-width, initial-scale=1")
        title #{title}
        include ./links.pug
    body(class=bodyClass)
        block header

        block main

        block footer