doctype html
block vars
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content='height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(type='image/x-icon' rel='shortcut icon' href='favicon.ico')
        title #{title}
        include ./links.pug
    body(class=bodyClass)
        .container
            block header

            block main

            block footer
